:root {
  --black: #0f0a0a;
  --red: #ff0336;
  --white: #fcfcfc;
}
.footerContainer{
  box-shadow: 1px 1px 10px 4px rgba(245, 245, 245, 0.043);
}
.color-red-fs {
  color: var(--red);
  font-size: 18px;
}
.footerContent {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  text-align: left;
  padding: 30px;
}
.sec1,
.sec2,
.sec3 {
  width: 33.33%;
  letter-spacing: 1px;
}
.sec1 p {
  font-size: 14px;
  font-weight: 600;
  color: rgb(158, 158, 158);
}
.socialM-Links {
  display: flex;
  justify-content: space-evenly;
  margin: 18px 0;
}
.socialM-Links div {
  padding: 9px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook:hover {
  background-color: #395498;
  transition: ease-in-out 0.5s;
}
.facebook svg:hover {
  scale: 1.2;
  transition: 0.4s;
}

.instagram:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);

  transition: ease-in-out 0.5s;
}
.instagram svg:hover {
  scale: 1.2;
  transition: 0.4s;
}

.twitter:hover {
  background-color: #000000;
  transition: ease-in-out 0.5s;
}
.twitter svg:hover {
  scale: 1.2;
  transition: 0.4s;
}
.whatsapp:hover {
  background-color: #2bb741;
  transition: ease-in-out 0.5s;
}
.whatsapp svg:hover {
  scale: 1.2;
  transition: 0.4s;
}
.sec2 p {
  padding: 15px 0;
}

.line {
  width: 128px;
  height: 4px;
  background-color: var(--red);
}
.line2 {
  width: 180px;
  height: 4px;
  background-color: var(--red);
  margin-top: 3px;
}
.sec3 p {
  padding: 15px 0;
  font-size: 18px;
}
.sec3 p span {
  color:  var(--red);
}
hr{
  border-color: #ffffff15;
  border-width: 1.5px;
}
@media (max-width: 768px) {
  .footerContent {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .sec1,
  .sec2,
  .sec3 {
    width: 100%;
    letter-spacing: 1px;
  }
  .footerContent {
    gap: 5px;
  }
  .line {
    display: inline-flex;
  }
  .line2 {
    display: inline-flex;
  }
}
